In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('tl-data.csv')
df2 = df[df['40l_sprint'].notna()]
df2.head()

,id,username,gamesplayed,gameswon,tr,glicko,rd,rank,apm,pps,vs,verified,40l_sprint,blitz
0,615fb20fe17beeef45104302,blaarg,1531,1319,24999.071341,4181.568586,74.656896,x,176.33,3.39,365.08,True,15.31,NaN
1,5e7cbb652932b46c9c671ce4,icly,885,803,24999.065696,4188.211726,84.111391,x,197.24,3.98,394.36,False,15.51,874114.0
2,5e844b0868270e617d52c990,czsmall0402,398,373,24998.934924,4161.254389,93.258192,x,148.69,2.37,313.43,True,18.39,828316.0
3,5eb11da1e47b643b5d12e5f1,kazu,1617,1246,24998.289391,4032.624054,87.633773,x,181.13,3.67,352.09,False,19.17,771490.0
4,5e697bbf77aba60f95fb38da,firestorm,3150,2497,24998.150387,3997.682339,71.227451,x,171.77,3.48,361.29,True,17.99,1333023.0

In [3]:
def percentile(n):
    def percentile_(x):
        return round(np.percentile(x, n), 3)
    if n <= 50:
        percentile_.__name__ = f'Fastest {n}%'
    else:
        percentile_.__name__ = f'Slowest {100-n}%'
    return percentile_

def mean(x):
    return round(np.mean(x), 3)

In [4]:
time_stats = df2.groupby('rank')['40l_sprint'].agg([percentile(5), 
                                                    percentile(25), 
                                                    'median', 
                                                    percentile(75), 
                                                    percentile(95)]).reset_index()

In [5]:
# Order the ranks properly

df_mapping = pd.DataFrame({
    'rank': ['d', 'd+', 'c-', 'c', 'c+', 'b-', 'b', 'b+', 'a-', 'a', 'a+', 's-', 's', 's+', 'ss', 'u', 'x'],
})

sort_mapping = df_mapping.reset_index().set_index('rank')

time_stats['rank_num'] = time_stats['rank'].map(sort_mapping['index'])

time_stats.sort_values('rank_num', inplace=True)
time_stats.drop('rank_num', axis=1, inplace=True)
time_stats['rank'] = time_stats['rank'].apply(str.upper)

time_stats

   rank  Fastest 5%  Fastest 25%   median  Slowest 25%  Slowest 5%
9     D      98.527      129.050  154.980      192.752     274.823
10   D+      91.428      122.300  147.580      177.780     259.078
8    C-      85.403      112.860  135.960      165.080     237.632
6     C      84.655      104.435  122.070      147.233     204.710
7    C+      78.072       97.030  112.820      133.920     180.666
5    B-      73.843       89.540  102.535      119.635     166.879
3     B      69.170       82.632   94.535      110.050     156.281
4    B+      65.030       77.920   87.960      101.840     140.200
2    A-      60.142       71.770   81.380       93.850     130.217
0     A      56.011       66.730   75.190       86.340     114.469
1    A+      51.020       60.780   68.970       78.150     102.206
13   S-      47.062       55.855   62.800       71.508      93.410
11    S      42.090       50.858   57.335       64.910      82.840
12   S+      38.040       45.200   50.850       57.330      70.750
14   SS      32.380       38.320   42.930       48.600      60.320
15    U      26.290       30.630   34.400       38.645      46.159
16    X      18.440       22.532   25.355       28.660      34.677

In [10]:
time_stats = df2.groupby('rank')['blitz'].agg([percentile(5), 
                                                    percentile(25), 
                                                    'median', 
                                                    percentile(75), 
                                                    percentile(95)]).reset_index()

# Order the ranks properly

df_mapping = pd.DataFrame({
    'rank': ['d', 'd+', 'c-', 'c', 'c+', 'b-', 'b', 'b+', 'a-', 'a', 'a+', 's-', 's', 's+', 'ss', 'u', 'x'],
})

sort_mapping = df_mapping.reset_index().set_index('rank')

time_stats['rank_num'] = time_stats['rank'].map(sort_mapping['index'])

time_stats.sort_values('rank_num', inplace=True)
time_stats.drop('rank_num', axis=1, inplace=True)
time_stats['rank'] = time_stats['rank'].apply(str.upper)

time_stats

   rank  Fastest 5%  Fastest 25%    median  Slowest 25%  Slowest 5%
9     D         NaN          NaN   18268.0          NaN         NaN
10   D+         NaN          NaN   21200.0          NaN         NaN
8    C-         NaN          NaN   24270.0          NaN         NaN
6     C         NaN          NaN   28969.0          NaN         NaN
7    C+         NaN          NaN   33050.0          NaN         NaN
5    B-         NaN          NaN   40201.0          NaN         NaN
3     B         NaN          NaN   46150.0          NaN         NaN
4    B+         NaN          NaN   54504.0          NaN         NaN
2    A-         NaN          NaN   61423.0          NaN         NaN
0     A         NaN          NaN   71710.0          NaN         NaN
1    A+         NaN          NaN   83898.0          NaN         NaN
13   S-         NaN          NaN   99136.0          NaN         NaN
11    S         NaN          NaN  116090.5          NaN         NaN
12   S+         NaN          NaN  149404.0          NaN         NaN
14   SS         NaN          NaN  203416.0          NaN         NaN
15    U         NaN          NaN  313814.0          NaN         NaN
16    X         NaN          NaN  501325.0          NaN         NaN

In [8]:
r = input('Enter rank: ')
all_times = df2['40l_sprint']
times = df2[df2['rank'] == r]['40l_sprint']

t = float(input('Enter 40L time: '))

pctl = sum(times > t) / len(times)
pctl_all = sum(all_times > t) / len(all_times)

print(f'\nYour sprint is faster than {100*pctl:.2f}% of people at your rank.')
print(f'It is faster than {100*pctl_all:.2f}% of ranked players.')

Enter rank: ss
Enter 40L time: 38

Your sprint is faster than 76.29% of people at your rank.
It is faster than 93.79% of ranked players.